.btn {
  background-color: red;
}

form {
  max-width: 100px;
  min-width: 50px;
  float: left;
  margin: 5px;
}

#output {
  float: left;
  max-width: 440px;
  min-width: 240px;
  text-align: center;
  font-style: bold;
  font-size: 36px;
}